:root {
    --btn-color: teal;   /* χρώμα πλήκτρων */
    --btn-text: whitesmoke;   /* χρώμα κειμένου πλήκτρων */
    --msg-win-color: rgb(0, 128, 32);  /* χρώμα μηνύματος επιτυχίας */
    --msg-wrong-color: crimson;  /* χρώμα μηνύματος αποτυχίας */
    --msg-text:floralwhite;  /* χρώμα κειμένου μηνύματος */
	--low-high-color: gray;  /* χρώμα ιστορικού προσπαθειών */
}


/* 

8. Στο αρχείο stylesheet final-test-style.css να γίνουν οι κατάλληλες αλλαγές 
που αφορούν στα στοιχεία που εμφανίζονται στον χρήστη, προσπαθώντας να επιτύχετε 
το αποτέλεσμα που φαίνεται στην παρουσίαση. ιδιαίτερη αναφορά γίνεται ώστε το χρώμα 
να οριστεί με βάση τα χρώματα που ορίζονται από τις μεταβλητές CSS. */

header {
    font-size: 25px;
    margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

#instructions {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#instructions, #guess {
    margin-bottom: 10px;
}

#guess {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#new-guess {
    margin-left: 2px;
}

#low-high, #message {
    margin-bottom: 10px;
}

#restart, #check{
    font-size: 20px;
    background-color: var(--btn-color);
    color:var(--btn-text);
    border:none;
    border-radius: 3px;
}

#restart {
    margin-left:5px;
}